streamlit
langchain-core>=0.1.0
langchain-community>=0.0.30
langchain-chroma>=0.0.5
chromadb>=0.4.22
python-dotenv
huggingface_hub>=0.22.0
sentence-transformers
fpdf2
pysqlite3-binary
replicate
requests
groq
langchain-huggingface>=0.0.1
